<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.jpg" alt="" class="logo" />
      <h1>Cảm ơn bạn đã tham gia đánh giá!</h1>
      <h2>Chúc bạn có một ngày làm việc hiệu quả!</h2>
    </div>
  </body>
</html>
